.list{
    color: white;
    margin-top: 15px;
    .list_title{
        margin-left: 50px;
        margin-bottom: 10px;
    }
    .list_wrapper{
        position: relative;
        .slider_arrow{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 50px;
            height: 100%;
            margin: auto;
            background-color: rgba(29, 28, 28, 0.459);
            cursor: pointer;
            z-index: 8;
            &.left{
                left: 0;
            }
            &.right{
                right: 0;
            }
        }
        .list_container{
            display: flex;
            align-items: center;
            width: max-content;
            margin-left: 50px;
            transform: translateX(0);
            transition: all 1s ease;
        }
    }
}